---
const PROJECTS = [
  {
    name: "Deno KV Realtime Visits",
    description:
      "Deno-KV POC that shows to the user in real time the last place where the page has been visited.",
    img: "/denoKV.png",
    link: "https://github.com/javierpiquerasmartinez/deno-realtime-visits",
  },
  {
    name: "AdventJS 2023",
    description:
      "Repository containing my solutions for all the AdventJS 2023 challenge. AdventJS is a challenge created by midudev where developers can upload their JavaScript / TypeScript solutions for each challenge, in order to improve their skills. This challenge takes from the 1st to the 25th of December.",
    img: "https://github.com/javierpiquerasmartinez/adventjs-2023/raw/main/static/adventjs-logo.png",
    link: "https://github.com/javierpiquerasmartinez/adventjs-2023",
  },
];
---

{
  PROJECTS.map((p) => (
    <>
      <h3>{p.name}</h3>
      <div>{p.description}</div>
      <div>
        GitHub: <a href={p.link}>{p.link}</a>
      </div>
      <img src={p.img} alt={p.description} />
    </>
  ))
}
