---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/jp-styles.css";
import "@fontsource-variable/onest";

const { title, description } = Astro.props;
const logoUrl = "/jp-logo.png";
const url = "https://www.javierpiqueras.com/";
const namespace = "javierpiqueras.com";
const siteType = "website";
---

<!doctype html>
<html lang="en">
	<head>
		<title>{title}</title>
		<meta name="description" content={description} />

		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="" />
		<meta name="generator" content={Astro.generator} />

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content={url} />
		<meta property="og:type" content={siteType} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={logoUrl} />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content={namespace} />
		<meta property="twitter:url" content={url} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={logoUrl} />

		<link rel="icon" type="image/png" href={logoUrl} />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
